//- body.jade
//- This file provides the HTML body part.


body
  form(action="/", method="post")
    input(type="text", name="location", placeholder="type location here...")
    input(type="submit")
