//- body.jade
//- This file provides the HTML body part.

body
  div.container-fluid
    div.row
      div.col-md-2.sidebar
        h2.nav-title udash
        ul.nav.nav-sidebar
          li
            a#eat.nav-item
              img.svg(src='images/svg/beer8.svg')
              span.detail-text EAT
          li
            a#drink.nav-item
              img.svg(src='images/svg/bread4.svg')
              span.detail-text DRINK
          li
            a#explore.nav-item
              img.svg(src='images/svg/earth15.svg')
              span.detail-text EXPLORE
          li
            a#learn.nav-item
              img.svg(src='images/svg/book7.svg')
              span.detail-text LEARN
          li
            a#calendar.nav-item
              img.svg(src='images/svg/calendar70.svg')
              span.detail-text CALENDAR
      div.col-md-10.col-md-offset-2.main
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="//cdn.jsdelivr.net/gridster.js/0.1/jquery.gridster.min.js")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
  script(src="js/svginline.js")
  script(src="js/udash.js")
