head
  title udash - boone, nc
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Quantico")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  link(rel="stylesheet", href="//cdn.jsdelivr.net/gridster.js/0.1/jquery.gridster.min.css")
  link(rel="stylesheet", href="/stylesheets/udash.css", type="text/css")
