div.col-md-2.sidebar
  h2.nav-title udash
  ul.nav.nav-sidebar
    li
      a#eat.nav-item(href='/eat')
        span.glyphicon.glyphicon-cutlery
        span.detail-text EAT
    li
      a#drink.nav-item(href='/drink')
        span.glyphicon.glyphicon-glass
        span.detail-text DRINK
    li
      a#explore.nav-item(href='/explore')
        span.glyphicon.glyphicon-send
        span.detail-text EXPLORE
    li
      a#learn.nav-item(href='/learn')
        span.glyphicon.glyphicon-pencil
        span.detail-text LEARN
    li
      a#calendar.nav-item(href='/calendar')
        span.glyphicon.glyphicon-calendar
        span.detail-text CALENDAR
