doctype html
html
  include head
  body(unresolved)
    link(rel="import", href="/polymer/polymer.html")
    link(rel="import", href="/core-toolbar/core-toolbar.html")
    link(rel="import", href="/core-menu/core-menu.html")
    link(rel="import", href="/core-drawer-panel/core-drawer-panel.html")
    link(rel="import", href="/core-header-panel/core-header-panel.html")
    link(rel="import", href="/core-icons/core-icons.html")
    link(rel="import", href="/core-icons/maps-icons.html")
    link(rel="import", href="/core-icons/hardware-icons.html")
    link(rel="import", href="/paper-icon-button/paper-icon-button.html")
    link(rel="import", href="/paper-item/paper-item.html")
    core-drawer-panel#nav
      core-header-panel(drawer)
        core-toolbar#navheader
          span Navigation
        core-menu
          paper-item#eat(label="eat", icon="maps:local-pizza")
            a(href="/eat")
          paper-item#drink(label="drink", icon="maps:local-bar")
            a(href="/drink")
          paper-item#explore(label="explore", icon="maps:map")
          paper-item#learn(label="learn", icon="create")
          paper-item#calendar(label="calendar", icon="due-date")
      core-header-panel(main)
        core-toolbar#mainheader
          paper-icon-button#navicon(icon="hardware:keyboard-arrow-right")
          span(flex) udash
        div.content stuff to drink

// leave the jade pattern here for iterating over passed in stuffs
//-           table
//-             each r, i in rest
//-               tr
//-                 td #{r}
//-                 td #{r_locations[i]}
//-     script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
//-     script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
//-     script(src="js/udash.js")
