link(rel="import", href="/core-ajax/core-ajax.html")
link(rel="import", href="/elements/deal-list.html")
div stuff to eat
div.container(layout vertical center)
  deal-card
    img(width="70", height="70", src="/images/avatar-01.svg")
    h2 Restaurant Name
    p Restaurant Location
deal-list(show="all")
